{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create{% endblock title %}

{% block content %}
<div >
<div class="jumbotron m-3"style="background-color:#2ECC71">
<form class="input-small" style="background-color: #2ECC71 , margin:10% " action="{% url 'destination-create' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table>{{form|crispy}}</table>
  <input type="submit"  class="btn btn-dark" value="Create">
</form>
</div>
</div>
{% endblock content %}
