{% extends "base.html" %}

{% block title %}Detail{% endblock title %}

{% block content %}
<div class="row "  style="background-color:  #2ECC71 ">
            <div class=" col-12 col-sm-6 col-md-12 "

              style="margin-top:5%"  >
  <b>  <p>{{destination.name}}</p></b>
    <p>{{destination.description}}</p>
    <p>{{destination.activities}}</p>
    <p><img src="{{destination.pretty_picture.url}}" width="1000" height="400"></p>
    <p>{{destination.optimal_visiting_season}}</p>
      <div style="margin-bottom:5% ">
    <a href="{% url 'destination-update' destination.id %}">
        <button class="btn btn-dark">Update</button>
    </a>

    <a href="{% url 'destination-delete' destination.id %}">
        <button class="btn btn-outline-dark">Delete</button>
    </a>
    </div>
</div>
</div>

{% endblock content %}
